


body{
    background-image: url(../images/blackbackground.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0;
    color: white;
    
}


.Header {
    margin-bottom: 10px;
    padding-bottom: 15px;
    margin-top: 10px;
    color: #fee715ff;
   
}

.button {
  background: black; 
  border: 1px solid #fee715ff;
  border-radius: 50px;
  color: white;
}

.fa-envelope {
    color: #fee715ff;
}


p {
    color: white;
    font-size: 20px;
}

.img-thumbnail {
    border-style: solid;
    border-color: #fee715ff;
}
/* container styles*/

.container {
    margin: 25px;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    
}
/* nav bar styles */

.navbar-brand   {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    font-display: left;
    
}

nav .navbar-right li a{
    color: #fee715ff !important;
    
}

a:hover {
    background-color: lightslategrey;
  }

/* portfolio styles */
.card-link {
    color: #fee715ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 7px;
    margin: 55px;
    font-size: 16px;
    position: absolute;
    background-color: black;   
}

.card {
    position: relative;
}

.text-right {
    text-align: right;
}

.social-round-icon {
    border: 1px solid #fee715ff;
    border-radius: 50px;
}
/* styling for the icons */
.fa-icon {
    width: 40px;
    height: 40px;
    line-height: 32px;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    vertical-align: right;
    overflow: hidden;
    
}

.footer-container {
   /* padding: 60px 0;
    /*margin-top: 30px;*/
    display: block;
}



/* media queries */

@media screen and (max-width: 767px) {

nav {
    width: 100%;
    padding: 20px;
    
  }
}