

body {
    background-image: url(../images/blackbackground.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0;
    color: white;
}



.card-img {
    display: block;
}

.Header {
    margin-bottom: 10px;
    padding-bottom: 15px;
    margin-top: 10px;
    color: #fee715ff;
   
}

.button {
  background: black; 
  border: 1px solid #fee715ff;
  border-radius: 50px;
  color: white;
  padding: 5px;
}

.fa-envelope {
    color: #fee715ff;
}


p {
    color: white;
    font-size: 20px;
    padding: 20px 20px;
}

.img-thumbnail {
    border-style: solid;
    box-shadow:5px 5px 2px  #fee715ff;
    
}
/* container styles*/

.container {
    margin: 25px;
    position: relative;
    font-family: 'Optima', sans-serif;
    font-size: 18px;
    padding: 20px;
    
}
/* nav bar styles */

.navbar-brand   {
    color: white;
    font-family: 'Optima', sans-serif;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    font-display: left;
    
}

nav .navbar-right li a{
    color: #fee715ff !important;
    font-family: 'Optima', sans-serif;
    
}

a:hover {
    background-color: whitesmoke;
  }

/* portfolio styles */
.card-link {
    color: #fee715ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 7px;
    margin: 55px;
    font-size: 16px;
    position: wrap;
    background-color: black;   
}

.card {
    position: relative;
}

.text-right {
    text-align: right;
}

.social-round-icon {
    border: 1px solid #fee715ff;
    border-radius: 50px;
}
/* styling for the icons */
.fa-icon {
    width: 40px;
    height: 40px;
    line-height: 32px;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    vertical-align: right;
    overflow: hidden;
    
}

.footer-container {
   /* padding: 60px 0;
    /*margin-top: 30px;*/
    display: block;
}

.wrapper {
    margin: 20px 0;
    width: 80%;
}

.wrapper .cards_wrap {
    display: inline-flex;
    flex-wrap: wrap;
    
}

.wrapper .card_item {
    width: 33.3%;
    padding: 10px;

}

.cards_wrap .card_inner {
    background:	#000000;
    box-shadow:5px 5px 2px  #fee715ff;

}

.cards_wrap .card_top {
    width: 100%;
    height: auto;
    padding: 10px;
    padding-bottom: 0;
}

.cards_wrap .card_bottom {
    padding: 15px;
}

.cards_weap .card_bottom .card_category {
    text-transform: uppercase;
    text-align: center;
}

.cards_wrap .card_bottom .card_info {
    padding: 15px;
    margin: 10px 0;
    border: 1px;
}

.cards_wrap .card_bottom .card_info .title {
    color: #0071bc;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


/* media queries */

@media (max-width: 1024px) {
.cards_wrap .card_item {
    width: 50%;
}
}

@media screen and (max-width: 768px) {

.cards_wrap .cards_item {
    width: 50%;
}

nav {
    width: 100%;
    padding: 20px;
}

    @media screen and (max-width: 528px) {
        .cards_wrap .card_item {
            width: 100%;
        }

  }
}