


body{
    background-image: url(../images/seamless_paper_texture.png);
    margin: auto 0;
    color: lightslategrey;
    
    
}

.Header {
    margin-bottom: 10px;
    color: #4aaaa5;
    padding-bottom: 15px;
    border-bottom: lightslategray solid 3px;
    margin-top: 10px;
   
}


.container {
    background-color: white;
    margin: 25px;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    
}
/* nav bar styles */

.navbar-brand   {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    font-display: left;
    
}

.navbar-default {
    border-bottom: lightslategray solid 2px;
    background-color: white;
    
}



/* portfolio styles */
.card-link {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 75px;
    font-size: 20px;
    position:relative;
    background-color: #4aaaa5;
    
    
    
    
}
/* footer */

.footer-section {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 30px;
    clear: both;
    border-top: 5px #4AAAA5 solid;
 }

/* media queries */

@media screen and (max-width: 767px) {

nav {
    width: 100%;
    padding: 20px;
    
  }
}